# backup files
*~
*.~*
*.backup
*.bak

# temp files
*.sw[a-p]

# special Linux files
.directory

# doxygen
doc/Doxygen/html
doc/Doxygen/latex

# special Windows files
Desktop.ini
Thumbs.db

# special OSX files
._*
.DS_Store
.Spotlight-V100
.Trashes
Icon?

# waf files
.lock-waf_*
.waf-*/**/*
waf3-*/**/*
.waf*

# build files
build/**/*
build

# crash dumps
core.*
